.apiContainer {
  border-radius: 8px;
  background-color: #eef8f6;
  padding: 12px 28px;
  margin-bottom: 32px;
}

.copyBtn {
  line-height: 0;
  cursor: pointer;
  padding: 8px;
  margin: -8px;
}

.endpoint {
  color: #50b3ad;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.newResourceBtn {
  border: none;
  background-color: #176b87;
  box-shadow: 0 4px 8px 0 rgba(100, 204, 197, 0.6);
}

.mainBtnContainer button {
  font-weight: 500;
  max-width: 160px;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
}

.gridBtn {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  gap: 16px;
}

.secondaryBtn {
  background-color: white;
  border: 1px solid #176b87;
}

.apiContainer .active,
.apiContainer .inactive {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  padding: 8px 16px;
  box-shadow: 0 4px 20px 0 rgba(100, 204, 197, 0.4);
  top: -180%;
  left: 50%;
  transform: translateX(-50%);
}

.active {
  visibility: visible;
}

.inactive {
  visibility: hidden;
}
