.userInforContainer {
  display: flex;
  align-items: center;
}

.signOutBtn {
  padding: 12px;
  cursor: pointer;
  color: #176b87;
  font-weight: 500;
  font-size: 14px;
}

.userContainer {
  background-color: #e4ecf0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: default;
  margin-left: 8px;
}

.userFirstLetter {
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 0;
}
