.addProjectContainer {
  border-radius: 16px;
  box-shadow: 0 4px 12px 0 rgba(100, 204, 197, 0.4);
  cursor: pointer;
  position: relative;
  padding: 28px;
}

.projectContainer {
  border-radius: 16px;
  box-shadow: 0 4px 12px 0 rgba(100, 204, 197, 0.4);
  cursor: pointer;
  position: relative;
}

.projectItem {
  padding: 28px;
  height: 100%;
  width: 100%;
}

.addText {
  margin-bottom: 12px;
  text-align: center;
}

.addIconCircleContainer {
  max-width: 82px;
  width: 100%;
  margin: 0 auto;
}

.addIconCircle {
  height: 82px;
  width: 82px;
  background-color: #edfffd;
  border-radius: 50%;
  position: relative;
}

.addIcon {
  position: absolute;
  line-height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #64ccc5;
  font-size: 64px;
  font-weight: 100;
}

.blankText {
  margin: 12px 0 48px;
}

.projectList {
  margin-top: 20px;
}

.createdAt {
  font-size: 14px;
  color: #176b87;
}

.dotIcon {
  position: absolute;
  right: 28px;
  top: 28px;
  padding: 12px 20px;
  margin: -12px -20px;
}

.projectName {
  margin: 8px 0;
  font-weight: 500;
  font-size: 20px;
}

.projectNameInput {
  margin: 8px 0;
  font-weight: 500;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: inherit;
  max-width: 249px;
  width: 100%;
  cursor: pointer;
}

.functionButtons {
  position: absolute;
  box-shadow: 0 4px 20px 0 rgba(100, 204, 197, 0.4);
  border-radius: 8px;
  background-color: white;
  top: 56px;
  right: -12px;
  text-align: center;
}

.functionBtn {
  padding: 12px 32px;
}

.functionBtnLine {
  height: 1px;
  width: 100%;
  background-color: #c7ecea;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.deleteNoticeBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 27, 46, 0.2);
  backdrop-filter: blur(2px);
  z-index: 1111;
  cursor: auto;
}

.deleteNoticeContainer {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  padding: 24px;
  text-align: center;
}

.deleteTitle {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #176b87;
  margin: 20px 6px 12px;
}

.deleteTitle > span,
.deleteSubTitle > span {
  color: #64ccc5;
}

.deleteSubTitle {
  font-size: 14px;
  margin-bottom: 32px;
}
.xIcon {
  text-align: right;
  padding: 12px;
  margin: -12px;
  cursor: pointer;
}

.deleteButtons {
  max-width: 600px;
  width: 100%;
}

.deleteButtons > div {
  grid-template: auto / repeat(2, 1fr);
  gap: 12px;
}

.primaryBtn {
  background-color: #176b87;
  padding: 12px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  box-shadow: 0 4px 12px 0 rgba(100, 204, 197, 0.6);
  cursor: pointer;
}

.secondaryBtn {
  padding: 10px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #64ccc5;
  border: solid 1px #64ccc5;
  cursor: pointer;
}
